body {
    margin: 0;
}
p {
    margin: 0;
}
a {
    text-decoration: none;
}
.btn {
    border: none;
    background-color: transparent;
}
input[type="text"]
{
    border: none;
    outline: none;
    background-color: transparent;
}
.square {
    width: 150px;
    height: 150px;
    background-color: blueviolet;
}