
header {
    /* height: 35%; */
    /* padding-bottom: 5%; */
}
.card-title_h {
    margin-left: 45px;
}
.card_h {
    width: 18%;
    box-shadow: 3px 10px 16px -5px rgba(104, 2, 50, 0.25);
    border-radius: 30px;
    margin-bottom: 40px;
    background-color: deeppink;
    align-items: center;

}
.cont_h {
    display: flex;
    /* justify-content: space-between; */
    /* align-items: center; */
    flex-wrap: wrap;
    padding-left: 45%;

}
.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

}
.card {
    width: 18%;
    box-shadow: 3px 10px 16px -5px rgba(104, 2, 50, 0.25);
    border-radius: 30px;
    margin-bottom: 40px;
}
.cover {
    position: relative;
    width: 100%;
    padding-top: 100%;
    background-color: rgb(212, 17, 121);
    box-shadow: 3px 10px 16px -5px rgba(235, 1, 165, 0.25);
    border-radius: 30px 30px 0 0 ;
}
.cover img {
    position: absolute;
    top: 10%;
    left: 10%;
    width: 80%;
    height: 80%;
    object-fit: cover;
    border-radius: 30px 0 ;

}
.content {
    padding: 22px 23px 28px ;
}


.card-title {
    font-weight: 500;
    font-size: 40px;
    line-height: 40px;
}
.card-description {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    margin: 33px 0;
    font-weight: 300;
    font-size: 15px;
    line-height: 18px;
}
.card-price{
    font-weight: 900;
    font-size: 40px;
    line-height: 40px;

}
.btn {
    background-color: rgb(235, 62, 183);
    color: white;
    padding: 11px 17px;
    border-radius: 30px 0 ;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 15px;
    line-height: 18px;
}



/* .square {
    position: relative;
    width: 18%;
    padding-top: 18%;
    background-color: rgb(226, 63, 153);
}
.square img {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    object-fit: cover;
} */